<div class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">One Minute Worldbuidling</h2>
    </div>

    <div class="mt-10">
      <%= link "Go To My Worlds", 
        to: Routes.my_worlds_index_path(@conn, :index),
        class: "button-primary" %>
    </div>
  </div>
</div>