<div id={@id}>
  <canvas 
    id={"canvas_landmass_#{@world.id || 0}"}
    width="200"
    height="200"
    data-world-id={"#{@world.id}"}
    data-seed={"#{@world.seed}"}
    phx-hook="WorldMapInit"
    phx-target={@myself}
    >
  </canvas> 
</div>